/* Yekan Font */

/* @font-face {
  font-family: Yekan;
  src: url('./fonts/Yekan/Yekan.eot');
  src: url('./fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Yekan/Yekan.woff') format('woff'),
    url('./fonts/Yekan/Yekan.ttf') format('truetype');
  font-weight: normal;
} */

/* Vazir Font */

/* @font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-FD-WOL.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-Bold-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-Bold-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-Bold-FD-WOL.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-Light-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-Light-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-Light-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-Medium-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-Medium-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-Medium-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-Medium-FD-WOL.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-Thin-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-Thin-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-Thin-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-Thin-FD-WOL.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir/Vazir-Black-FD-WOL.eot');
  src: url('./fonts/Vazir/Vazir-Black-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Vazir/Vazir-Black-FD-WOL.woff2') format('woff2'),
    url('./fonts/Vazir/Vazir-Black-FD-WOL.woff') format('woff'),
    url('./fonts/Vazir/Vazir-Black-FD-WOL.ttf') format('truetype');
  font-weight: 900;
} */


/* Aria Font */


@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Regular.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Regular.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Thin.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Thin.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-ExtraLight.eot');
  src: url('./fonts/Aria/AriaWebNoEng-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-ExtraLight.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-ExtraLight.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Light.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Light.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Normal.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Normal.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Normal.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Normal.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Medium.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Medium.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-SemiBold.eot');
  src: url('./fonts/Aria/AriaWebNoEng-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-SemiBold.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Bold.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Bold.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-ExtraBold.eot');
  src: url('./fonts/Aria/AriaWebNoEng-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-ExtraBold.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-UltraBold.eot');
  src: url('./fonts/Aria/AriaWebNoEng-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-UltraBold.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-UltraBold.woff') format('woff');
  font-weight: 850;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Heavy.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Heavy.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Heavy.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: Aria;
  src: url('./fonts/Aria/AriaWebNoEng-Black.eot');
  src: url('./fonts/Aria/AriaWebNoEng-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Aria/AriaWebNoEng-Black.woff2') format('woff2'),
    url('./fonts/Aria/AriaWebNoEng-Black.woff') format('woff');
  font-weight: 950;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body * {
  font-family: 'Aria', sans-serif !important;
}